<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customProperties"
             type="OutlookVSTOAddIn.Global.CustomConfigurationManager.CustomPropertiesSection, OutlookVSTOAddIn"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true" />
  </configSections>
  <customProperties name="customProperties">
    <defaultUser name="defaultUser" value="" />
    <documentGroups default="M3_EXT">
      <add name="BPCS" value="BPCS Documents" />
      <add name="M3_EXT" value="M3 External [Merged]" />
      <add name="101" value="Int Sarl ES - 101" />
      <add name="201" value="Poland - 201" />
      <add name="202" value="EMEA - 202" />
      <add name="299" value="India - 299" />
      <add name="301" value="Mexico - 301" />
      <add name="601" value="China - 601" />
      <add name="602" value="Korea - 602" />
      <add name="603" value="Taiwan - 603" />
      <add name="606" value="Australia - 606" />
      <add name="607" value="Japan - 607" />
      <add name="608" value="Hong Kong - 608" />
      <!--<add name="609" value="Malaysia - 609" />-->
    </documentGroups>
    <urls default="PRD">
      <add name="TST" url="http://m3v10.victaulic.com" port="21105"/>
      <add name="TST_Secured" url="https://m3v10.victaulic.com" port="21106"/>
      <add name="PRD" url="http://m310BEP.victaulic.com" port="20105"/>
      <add name="PRD_Secured" url="https://m310BEP.victaulic.com" port="20106"/>
    </urls>
  </customProperties>
</configuration>